@import url("components/navbarzankyou.css");
@import url("components/cartezankyou.css");

/*color scheme - du plus foncé au plus clair*/
/*rgb(17,120,100*/
/*rgb(23,165,137)*/
/*rgb(39,225,190)*/


body{
	background: url("images/background-floral-v4-white.png") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family:"Open Sans",sans-serif;
	height:1200px;
}



h1{
	color: rgb(150,150,150);
	font-family:"Glegoo";
	font-weight:400;
	font-size:55px;
	margin:70px 0px 20px 0px;
	text-align:center;

}

h2{
	color: #117864;
	font-family:"Glegoo";
	font-size:25px;
	text-align:center;
	padding:5px;
}


h3{
	color: rgb(150,150,150);
	font-family:"Glegoo";
	font-weight:400;
	font-size:40px;
	margin:70px 0px 20px 0px;
	text-align:center;
}

#date{
	display:inline-block;
	border-top:2px solid #117864;
	border-bottom:2px solid #117864;
	padding:3px 0px 3px 0px;
	margin-bottom:10px;
}



.image-cagnotte{
	text-align :center;
}

.image-cagnotte img{
	width:49%;
	padding: 25px 5px 0px 5px;
	border-radius: 2px;
}

.liens{
	text-decoration:none;
	color:#117864;
}

.liens:hover{
	color:rgb(39,225,190);
	text-decoration:none;
}

#cagnotte p{
	margin-top:20px;
}

#boutton-cagnotte{
	background-color: #117864;
	color: white;
	border:none;
	border-radius:20px;
	padding:3px 10px 3px 10px;
}

#boutton-cagnotte:hover{
	color:rgb(39,225,190);

}

/*retouche du style de la navbar Bootstrap en petite taille*/
#toggler {
	padding:3px 5px 3px 5px !important;
	border:none;
	text-decoration:none;
}

.fa-bars{
	color: rgb(39,225,190);
}

.bg-light{
	background-color:rgba(17,120,100,1) !important;
}

.navbar{
	padding: 3.754px 16px 3.754px 16px;
	position: fixed !important;
	top: 0px;
	width: 100%;
	z-index:100;
}

.nav-link{
	color: white !important;
	font-family: "Open Sans", sans-serif !important;
	padding-top:4px !important;
	padding-bottom:4px !important;
}

.nav-link:hover{
	color: rgb(39,225,190) !important;
}


.gmap_canvas {
        width: 100%;
        height:300px;
        margin-top: 15px;
        margin-bottom: 15px;
       }

#talons {
	font-weight:bold;
	color: #117864;
}

#carte-contacts{
	padding-top:20px;
}

.noms{
	color:#117864;
	font-weight:bold;
}

#carte-formulaire{
	padding-top:20px;
	padding-bottom:20px;
}

#confirmez-svp {
	font-size:20px;
}

.text-input-form{
	border-radius:4px;
	border:solid 1px rgb(240,240,240);
	box-shadow:1px 1px rgb(251,251,251);

}

.label-color{
	color:#117864;
	font-weight:bold;
}

.label-color label{
	color:black;
	font-weight:normal;
}

#boutton-submit{
	background-color: #117864;
	color: white;
	border:none;
	border-radius:20px;
	padding:3px 10px 3px 10px;
	margin-top:7px;
}

#boutton-submit:hover{
	color:rgb(39,225,190);

}

.lieux a{
	text-decoration:none;
	color:#117864;
}

.lieux a:hover{
	color:rgb(39,225,190);
	text-decoration:none;
}



button:focus {outline:0;}
input:focus {outline:0;}