@import url("components/navbarzankyou.css");
@import url("components/cartezankyou.css");

/*color scheme - du plus foncé au plus clair*/
/*rgb(17,120,100*/
/*rgb(23,165,137)*/
/*rgb(39,225,190)*/


body{
	background: url("images/background-floral-v4-white.png") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family:"Open Sans",sans-serif;
}


h1{
	color: rgb(150,150,150);
	font-family:"Glegoo";
	font-weight:400;
	font-size:55px;
	margin:50px 0px 20px 0px;
	text-align:center;

}

h2{
	color: #117864;
	font-family:"Glegoo";
	font-size:25px;
	text-align:center;
	padding:5px;
}

#date{
	display:inline-block;
	border-top:2px solid #117864;
	border-bottom:2px solid #117864;
	padding:3px 0px 3px 0px;
	margin-bottom:30px;
}

#bienvenue{

}
