.nav-zankyou {
	color:White;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(17,120,100,0.7);
	text-align:center;
	padding: 5px 0px 0px 0px;
	margin: 0;
}

.nav-zankyou{
	padding-bottom:0px;
}

.nav-zankyou li:hover{
	color: rgb(39,225,190);
	font-size:bolder;
	border-bottom:3px solid rgb(39,225,190);
	padding-bottom:5px;
}

.nav-zankyou-active{
	color: rgb(39,225,190);
	font-size:bolder;
	border-bottom:3px solid rgb(39,225,190);
	padding-bottom:5px;
}